
    :root {
        --primary: hsl(120, 100%, 59%);
        --secondary:  hsl(100, 49%, 82%);
        --white: #fff;
        --black: #1e1e1e;
        --shadow: rgba(0, 0, 0, 0.1);
    }

    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: var(--white);
        color: var(--black);
        text-align: center;
    }

    header {
        background: var(--primary);
        padding: 15px;
        color: var(--white);
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .back-button {
        background-color: #ff5e00;
        position: absolute;
        left: 15px;
        background: var(--white);
        color: var(--primary);
        border: none;
        cursor: pointer;
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 8px;
        transition: 0.3s;
    }

    .back-button:hover {
        background: var(--secondary);
        color: var(--white);
    }

    .title span {
        color: var(--secondary);
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 20px;
        max-width: 1000px;
        margin: auto;
    }

    .gallery-item {
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0px 4px 8px var(--shadow);
        transition: transform 0.3s ease-in-out;
    }

    .gallery-item img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 12px;
        transition: transform 0.3s;
    }

    .gallery-item:hover img {
        transform: scale(1.1);
    }

    .keatas-dikit{
        margin-top: 30px;
    }
